<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net461" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net461" />
  <package id="Hangfire" version="1.6.6" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.6.6" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.6.6" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Elmah" version="0.1.8" targetFramework="net461" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" requireReinstallation="true" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
</packages>